.my-btn {
  background-color: var(--c-main);
  @include same-scale(50px);
  padding: 15px;
  border: none;
  @include prefixer(border-radius, 50%);
  @include centering;
  position: absolute;
  z-index: 996;
  color: var(--c-second);
  cursor: pointer;
  @include prefixer(transition, var(--time-transition));

  &:hover {
    background-color: var(--c-main-transparent);
  }
}
