#template-2 {
  .row {
    max-width: 550px;
    .links-holder {
      width: fit-content;

      .link {
        max-width: 550px;
        min-width: 345px;

        .icon {
          @include same-scale(38px);
          position: absolute;
          left: 25px;
        }

        .small {
          font-size: 12px;
        }
      }
    }
  }
}
